<?xml version="1.0" encoding="UTF-8"?>
<launch>

	<node name="cam_receiver" pkg="nimbro_cam_transport" type="cam_receiver" output="screen" >
		<remap from="/cam_receiver/encoded"        to="/vaapi_sender/encoded"/>
	</node>
	
    <!--node name="gamecontrol" pkg="gamecontrol" type="gamepad.py" output="screen"/-->
    <node name="joycontroller" pkg="joy" type="joy_node" output="screen">
    	<param name="autorepeat_rate" type="double" value="25.0"/>
    </node>

    <node name="teleop" pkg="teleop_twist_joy" type="teleop_node" output="screen">
    	<!-- Scale to apply to joystick linear axis for regular-speed movement, in m/s. -->
        <param name="scale_linear" type="double" value="0.5"/>
        <!--Joystick axis to use for angular movement control. -->
        <param name="scale_angular" type="double" value="0.5"/>
    </node>
	
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find system_setup)/rviz/laser.rviz"/>


</launch>

