<?xml version="1.0" encoding="UTF-8"?>
<launch>

	
	<!-- cameras -->
	<include file="$(find robot_launch)/camera/cameras.launch" />
	
	
	<!-- odometry node -->
	<node name="odometry" pkg="odometry" type="encoderOdometry.py" output="screen"/>
	
	<!-- pull down the frequency of octomap messages -->
	<node name="drop" pkg="topic_tools" type="drop" args="/rtabmap/octomap_full 1 4 /rtabmap/octomap_full_dropped" output="screen"/>

	<!-- image H264 streamer node -->
	<node name="cam_sender" pkg="nimbro_cam_transport" type="cam_sender" output="screen" >
			<remap from="/cam_sender/image"        to="/camera/rgb/image_raw"/>
	</node>

	<!-- include the rtabmap launch file -->
	<include file="$(find robot_launch)/slam/localize.launch" />


</launch>
